.userPage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

    &_container {
        width: 500px;
        padding: 15px;
        background-color: rgba(255, 225, 225, 0.4);
        backdrop-filter: blur(4px);
        border-radius: 30px;
        font-size: 29px;
        font-weight: 600;
        text-align: center;
    }
    &_title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            font-size: 35px;
            span {
                font-size: 20px;
            }
        }
        button {
            padding: 5px 10px;
            background-color: rgba(255, 225, 225, 0.4);
            border-radius: 10px;
            cursor: pointer;
        }
    }
    &_items {
        margin-top: 15px;
        
        p {
            font-weight: 500;
        }
        span {
            font-weight: 300;
        }
    }
    &_buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        
        button {
            display: block;
            padding: 5px 10px;
            border-radius: 10px;
            cursor: pointer;
        }
    }
    &_buttonCancel {
        background-color: rgba(255, 225, 225, 0.4);
        margin-right: 20px;
    }
    &_buttonEdit {
        background-color: rgba(255, 187, 0, 0.4);
        margin-right: 20px;
    }
    &_buttonDel {
        background-color: rgba(255, 0, 0, 0.4);
    }
}
