.welcomePage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &_container {
        width: 500px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 225, 225, 0.4);
        backdrop-filter: blur(4px);
        border-radius: 30px;
    }
    &_title {
        text-align: center;
        font-size: 35px;
        font-weight: 700;
    }
    &_description {
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        margin-top: 15px;
    }
    &_nextButton {
        width: max-content;
        margin-top: 15px;
        padding: 10px;
        background-color: rgba(255, 225, 225, 0.5);
        text-align: center;
        border-radius: 10px;
        font-size: 30px;
        font-weight: 500;
        cursor: pointer;
    }
}