@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&family=Sofia+Sans+Extra+Condensed:wght@200;300;400;500;600;700;800;900;1000&display=swap');

html {
  height: 100%;
}

body {
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  background-image: url('./assets/backgroundImage.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}